<%- include('header') %>
<%- include('sidebar') %>

<div class="col-sm-5 text-left">

    <h1>List of the Recipes:</h1>

    <form method="POST">
        <div class="form-group">
            <label for="category">Category:</label>
            <select class='form-control' id='category' name='category'>
                <option value='All'>ALL RECIPE</option>
                <option value='Soup'>Soup</option>
                <option value='Main'>Main</option>
                <option value='Dessert'>Dessert</option>
            </select>
        </div>
        <input type="submit" class="btn btn-info" value="Search">
    </form>

    <br/>

    <label>Recipes:</label>
    <% recipes.forEach(function(item){ %>
    <ul class="list-group">
        <a href="/recipe/<%= item.id %>">
            <li class="list-group-item list-group-item-action">
                <img src=<%= item.image %> style="max-width:150px; max-height: 150px;">
                <label><%= item.name %></label>
            </li>
        </a>
    </ul>
    <% }); %>

    <a href="/recipes/new">
        <button type="button" class="btn btn-primary">Add New Recipe</button>
    </a>

</div>

<%- include('footer') %>