<%- include('header') %>
<%- include('sidebar') %>

<div class="col-sm-5 text-left">

    <div class="list-group">
        <img src=<%= recipe.image %> alt="image" style="max-width:300px; max-height: 300px;">
        <h2><%= recipe.name %></h2>
        <h3>Category: <%= recipe.category %></h3>
    </div>

    <h5>Ingredients: <%= recipe.ingredients %></h5>

    <p><i>How to make it: </i><br/><%= recipe.description %></p>

    <a class="btn btn-danger" href="/recipe/<%= recipe.id %>/delete">Delete</a>
    <a class="btn btn-info" href="/recipe/<%= recipe.id %>/edit">Edit</a>
    <a class="btn btn-warning" href="/recipes">Back</a>

</div>

<%- include('footer') %>